.App {
  margin: auto;
  width: 15%;
  padding: 10px;
}

strong{
  color: darkgrey;
}

li{
  margin-top: 50px;
  text-decoration: none;
  list-style: none;
}

.input.input.is-primary{
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
